@charset "UTF-8";
/* CSS Document */

html, body {
  background: rgba(78,130,247,1);
}

::selection {
  background: white;
  color: #000;
} ::-moz-selection {
  background: rgba(255,255,255,1);
  color: #000;
}
