@charset "UTF-8";
/* CSS Document */

/* ALL */

	html, body {
		margin: 0;
		padding: 0;

		width: 100%;
		height: 100%;

		font-family: 'Roboto Mono', monospace;
		color: rgba(255,255,255,1);
		font-size: 19px;

		overflow: hidden;

		cursor: url('../images/cursors/usual.png'), auto;
	}

	a,
	a:link,
	a:hover,
	a:active,
	a:visited {

		font-weight: bold;
		text-decoration: none;

		cursor: url('../images/cursors/usual.png'), auto;

	}



/* OTHER PAGES */

/* END OTHER PAGES */
